In [298]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [299]:
df = pd.DataFrame(columns = ['height', 'bed_number', 'bed_thickness', 'grainsize', 'paleocurrent', 'strike', 'dip'])

In [300]:
N = 100

In [301]:
df['bed_number'] = np.linspace(1, 101, N)

In [302]:
thickness = np.linspace(2, 5, 50) + np.random.normal(0, 1.5, 50)
thickness = np.append(thickness, np.linspace(20, 40, 50) + np.random.normal(0, 5, 50))
df['bed_thickness'] = thickness

In [303]:
height = df.bed_thickness.cumsum() + np.random.normal(0, 5, 100)
df['height'] = height

In [304]:
df

         height  bed_number  bed_thickness grainsize paleocurrent strike  dip
0      7.711029    1.000000       3.570156       NaN          NaN    NaN  NaN
1     16.881304    2.010101       0.448347       NaN          NaN    NaN  NaN
2      9.552009    3.020202       2.987416       NaN          NaN    NaN  NaN
3      7.631543    4.030303       1.473364       NaN          NaN    NaN  NaN
4     13.485448    5.040404       4.778573       NaN          NaN    NaN  NaN
..          ...         ...            ...       ...          ...    ...  ...
95  1647.413262   96.959596      41.787208       NaN          NaN    NaN  NaN
96  1686.784759   97.969697      40.181109       NaN          NaN    NaN  NaN
97  1720.262855   98.979798      40.041355       NaN          NaN    NaN  NaN
98  1765.007579   99.989899      45.905168       NaN          NaN    NaN  NaN
99  1810.158879  101.000000      42.230161       NaN          NaN    NaN  NaN

[100 rows x 7 columns]

In [305]:
grainsize = np.linspace(0.5, 0.5, 5)
grainsize = np.append(grainsize, np.linspace(0.5, 2, 45) + np.random.normal(0, 0.5, 45))
grainsize = np.append(grainsize, np.linspace(4, 5, 50) + np.random.normal(0, 0.5, 50))
df['grainsize'] = grainsize
df['grainsize'] = df['grainsize'].round(0)

# gsize = ['mud', 'silt', 'f. sand', 'm. sand', 'c.sand', 'congl.']

# df['grainsize'] = df['grainsize'].replace(0., gsize[0])
# df['grainsize'] = df['grainsize'].replace(1., gsize[1])
# df['grainsize'] = df['grainsize'].replace(2., gsize[2])
# df['grainsize'] = df['grainsize'].replace(3., gsize[3])
# df['grainsize'] = df['grainsize'].replace(4., gsize[4])
# df['grainsize'] = df['grainsize'].replace(5., gsize[4])
# df['grainsize'] = df['grainsize'].replace(6., gsize[5])

df

         height  bed_number  bed_thickness  grainsize paleocurrent strike  dip
0      7.711029    1.000000       3.570156        0.0          NaN    NaN  NaN
1     16.881304    2.010101       0.448347        0.0          NaN    NaN  NaN
2      9.552009    3.020202       2.987416        0.0          NaN    NaN  NaN
3      7.631543    4.030303       1.473364        0.0          NaN    NaN  NaN
4     13.485448    5.040404       4.778573        0.0          NaN    NaN  NaN
..          ...         ...            ...        ...          ...    ...  ...
95  1647.413262   96.959596      41.787208        5.0          NaN    NaN  NaN
96  1686.784759   97.969697      40.181109        5.0          NaN    NaN  NaN
97  1720.262855   98.979798      40.041355        5.0          NaN    NaN  NaN
98  1765.007579   99.989899      45.905168        4.0          NaN    NaN  NaN
99  1810.158879  101.000000      42.230161        5.0          NaN    NaN  NaN

[100 rows x 7 columns]

In [306]:
fm = np.repeat('Liverpool Formation', 80)
fm = np.append(fm, np.repeat('Manchester Formation', 20))
df['formation'] = fm

In [307]:
x = np.linspace(310, 10, 50) + np.random.normal(0, 2, 50)
x1 = np.linspace(360, 355, 50) + np.random.normal(0, 2, 50)
df['paleocurrent'] = np.concatenate((x, x1))

In [308]:
x = np.random.uniform(low = 220, high = 240, size = 100) + np.random.normal(0, 10, 100)
df['strike'] = x
df['strike'].iloc[::2] = None

/opt/anaconda3/envs/general/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [309]:
x = np.linspace(40, 35, 50) + np.random.normal(0, 2, 50)
x1 = np.linspace(35, 30, 50) + np.random.normal(0, 2, 50)
df['dip'] = np.concatenate((x, x1))
df['dip'].iloc[::2] = None

In [310]:
d18O = np.geomspace(0.2, 0.6, 50) + np.random.normal(0, 0.1, 50)
d18O = np.append(d18O, np.geomspace(1.3, 1., 50) + np.random.normal(0, 0.1, 50))
df['d18O'] = d18O

In [311]:
cols = ['grainsize', 'paleocurrent', 'strike', 'dip']
cols1 = ['height', 'bed_number', 'bed_thickness', 'd18O']

df[cols] = df[cols].round(0)
df[cols1] = df[cols1].round(2)

In [312]:
df.to_excel('data.xlsx')