
<img style="float: right;" src="data/earth.png" width= "100" height = "100">


# Libraries and modules




_____________

### 1. Numpy

In [ ]:
import numpy as np # imports the numpy library and gives it the 'shortcut' name 'np'

In [ ]:
a = np.array([1, 2, 3, 2, 3, 4, 3, 4, 5, 6]) # makes a numpy array from a list
b = np.array([[7, 2, 10], [2, 7, 4], [4, 9, 8]]) # makes a nested array

a[6]
a[a > 3]
b[0]

In [ ]:
my_list = [0, 2, 3, 5, 6, 6] # makes a list
my_array = np.array(my_list) # makes an array from a list

In [ ]:
arr1 = np.arange(start = 0, stop = 10, step = 0.01) # returns a range of numbers at a particular step-size

arr2 = np.linspace(start = 0, stop = 10, num = 10) # return evenly spaced numbers over a specified interval

randoms = np.random.uniform(low = 10, high = 100, size = 100) # return random numbers over a specified interval

shaped = np.arange(100).reshape(10, 10) # return an array of a given shape

In [ ]:
# different ways to calculate the mean

x = [1, 4, 5, 6, 8, 9]

mean1 = (x[0] + x[1] + x[2] + x[3] + x[4] + x[5]) / len(x)

mean2 = sum(x)/len(x)   

mean3 = np.mean(x)

print(mean1, mean2, mean3)

_____
Exercise: make an array of numbers from 0 to pi (using np.linspace and np.pi), and call that array 'numbers'.  Multiply that array by np.sin, and call the result 'numbers_sin'

### 2. Matplotlib

In [ ]:
import matplotlib.pyplot as plt # import matplotlib

%config InlineBackend.figure_format='retina'  # makes plots look nice

In [ ]:
plt.plot(numbers, numbers_sin)# plots two arrays (x and y)

In [ ]:
arr = np.arange(100).reshape(10, 10) # reshapes data
plt.imshow(arr, cmap = 'magma') # plots data as an image

____
Exercise: make an array going from 0 to a 100, and call it nums. Square that array and call it nums_squared. 
    Plot nums vs nums_squared

### 3. Pandas, let's do some geoscience..

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('data/miller_2020.xlsx') # loads an excel worksheet as a pandas dataframe

In [ ]:
df.describe() # displays statistical summary of dataframe

In [ ]:
df.sea_level_m.mean()

In [ ]:
df['age_ma'] = df['age_ka'] / 1000

In [ ]:
plt.plot(df.age_ma, df.sea_level_m)

In [ ]:
low_sea = df[df.sea_level_m < 0] # filters dataframe based on condition
low_sea = df[df.sea_level_m.between(-120, 0)] # filters dataframe between values

____
Exercise: make a new dataframe called 'high_sea' filtering the data by sea-levels > 50 m. Plot a scatter graph of high_sea versus time.

### 4. Seaborn

In [ ]:
import seaborn as sns

In [ ]:
oligo = df[df.age_ma.between(23, 33.9)]

In [ ]:
sns.kdeplot(oligo.sea_level_m) # plots distribution of the data

____
Exercise: a) plot the distribution of Paleocene sea-levels using pandas and seaborn (66-56 Ma), b) plot the distribution of Paleocene and Oligocene on the same plot.

TIP: Run all of your kdeplot functions in the same cell..